.tweet-container {
  margin-bottom: 1rem;
}

.display-name {
  font-weight: bold;
  /* margin-right: 0.2rem; */
}

.username {
  color: gray;
}

.date::before {
  margin-right: 0.2rem;
  content: '·';
}

.date {
  margin-left: 0.2rem;
  color: gray;
}
